* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

main section,
footer {
    margin-top: 150px;
}

/* Banner styles */
.banner {
    display: flex;
    background-color: #E554731A;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin-right: 97px;
    padding-bottom: 32px;
}

.banner-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 171px;
    margin-top: 0px;
    padding-bottom: 32px;
}

.banner img {
    width: 635px;
    height: 800px;
}

.btn-primary {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

/* Bonus#1 - Featured flower section */

.featured-flowers-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
}

.featured-flowers-desc {
    width: 40%;
}

.featured-flowers-images {
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

#featured_flower_pink {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('../flower_assets/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

#featured_flower_mixed {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('../flower_assets/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

#featured_flower_yellow {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('../flower_assets/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* .featured-flowers-images p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
} */

.featured-flowers-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.featured-flowers-images a {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}



/* Hot deals section styles */

.hot-deal-section {
    display: flex;
    background-color: #E554731A;
    align-items: center;
    justify-content: space-between;
    padding: 100px 430px 100px 450px;
}

.hot-deal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-right: 120px;
}

.hot-deal-title,
.insta-title,
.latest-deals-title,
.featured-flowers-title,
.customer-review-section {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.hot-deal-title span {
    color: #E55473;
}

.hot-deal-desc,
.insta-desc,
.latest-deals-desc,
.featured-flowers-desc,
.customer-review-desc {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal-content button {
    margin-top: 8px;
}


.hot-deal-section img {
    width: 420px;
    height: 318px;
}

/* Instagram section styles */

.instagram-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-right: 200px;
    margin-left: 200px;
}

.insta-desc {
    width: 40%;
}

.insta-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.insta-image {
    margin-top: 24px;
    width: 342px;
    height: 396px;
}

/* latest deals section styles */

.latest-deals-section {
    margin-left: 200px;
    margin-right: 200px;
    background-image: url('../flower_assets/Rectangle_9.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;

}

.latest-deals-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 120px;
    padding-bottom: 120px;

}

.latest-deals-subscription-form {
    width: 100%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-deals-subscription-form input[type=email] {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 16px;
    color: rgba(39, 39, 39, 0.60);

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-left: 22px;

}

/* Bonus #2 - Customer */

.customer-review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-right: 200px;
    margin-left: 200px;
}

.customer-review-desc {
    width: 40%;
}

.customer-reviews{
    display: flex;
    align-items: center;
    gap: 24px;
}

.customer-review {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}



.customer-review img{
    padding-top: 24px;
    width: 150px;
    height: 190px;
    margin: 0px auto;
}

.customer-review small{
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.customer-review p{
color: rgba(39, 39, 39, 0.60);
text-align: left;
font-size: 18px;
font-style: italic;
font-weight: 400;
line-height: 30px;
padding: 0px 24px 24px 24px;
}
/* footer styles */

footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 128px 0px;
    background-color: #111010;

}

footer h3 {
    color: #E55473;
    font-size: 30px;
    font-weight: 800;
    line-height: normal;
}

footer h3 span {
    color: #FFFFFF;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 32%;
}

footer small {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}